{% block main %}
    <table>
        <tr>
            <th>id</th>
            <th>title</th>
            <th>description</th>
            <th>members</th>
            <th>supervisor</th>
            <th>deadline</th>
        </tr>

        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.title }}</td>
                <td>{{ project.description }}</td>
                <td>{{ project.members }}</td>
                <td>{{ project.supervisor }}</td>
                <td>{{ project.deadline }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}